html,
body {
    font-family: 'Blaka Ink', cursive;
    font-family: 'Bungee Spice', cursive;
    font-family: 'Foldit', cursive;
    font-family: 'Nabla', cursive;
    font-family: 'Pacifico', cursive;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Patrick Hand', cursive;;
    font-family: 'Caprasimo', cursive;

    
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Scroll Bar*/

::-webkit-scrollbar{
  width: 0;
}
#scrollpath{
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 10px;
  background: rgb(255, 255, 255, 0.05);
}
#progressbar{
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  background: linear-gradient(to top, #008aff, #00ffe7);
  animation: animate 5s linear infinite;

}
@keyframes animate {
  0%,100%
  {
    filter: hue-rotate(0deg);
  }
  50%{
    filter: hue-rotate(360deg);
  }
   
}

#progressbar::before{
  z-index: 3;

  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #008aff, #00ffe7);
  filter: blur(10px);
}
#progressbar::after{
  z-index: 3;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #008aff, #00ffe7);
  filter: blur(30px);
}



/* Home Section*/

.welcome{
    position: relative;
    width: 100%;
}

#background {
    width: 100%;
    height: 100vh;
    z-index: -1;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.6s;
}

header .logo{
  position: relative;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
}
header ul{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

}
header ul li{
  position: relative;
  list-style: none;
  text-align: end;
}

header ul li a{
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: white;
  text-align: center;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  
  h1 {
    color: white;
    font-size: 36px;
    font-weight: bold;
    text-align: justify;
  }
  
  #typewriter::after {
    content: "|";
    animation: blink-caret 0.75s step-end infinite;
  }
  
  @keyframes blink-caret {
    from, to { opacity: 0; }
    50% { opacity: 1; }
  }
  

p {
    color: white;
    font-size: 18px;
    text-align: center;
}



#parachute-section {
    position: relative;
    width: 100%;
    height: 308vh;
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    overflow: hidden;
    margin: 0;
    padding: 0;
    /* Add other styles for the section */
  }


  .parachute-animation {
    width: 100%;
    position: absolute;
    top: -30%; /* Adjust the value to position the image off-screen */
    left: 50%;
    
  }
  
  .parachute-animation img {
    width: 25%;
    position: absolute;
    top: 0;
    
  }

  
  .rocket-animation {
    width: 100%;
    position: absolute;
    top: -30%; /* Adjust the value to position the image off-screen */
    left: 50%;
    transform: translateX(-50%);
  }
  
  .rocket-animation img {
    width: 25%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
    
  }
    .light {
    position: absolute;
    left: 50%;
    top: -18.1%;
    transform: translateX(-50%);
    width: 25px;
    height: 200px;
    background: linear-gradient(#b20f00,#e09813,  transparent);
    filter: blur(7px);
  }

  .man img {
    width: 6%;
    position: absolute;
    top: 93%;
    left: 50%;
  
  }
  

  #man2 img{
    width: 6%;
    position: absolute;
    top: 93%;
    left: 50%;
  }




  /* ABOUT US */

  .intro {
    padding: 0;
    position: relative;
    height: 250vh;
    background: linear-gradient(#fff1eb 0%,  #41889c);
  }

  .intro .header {
    position: absolute;
    left: 36%;
    top: 1%;
    font-family: 'Ubutnu', sans-serif;
    text-shadow: 0 0 10px black;
    text-align: center;
    font-size: 70px;
    align-items: flex-start;
    transform: scale(0.7);
  }
  

  .intro.in-view .intro .header {
    opacity: 1;
    transform: scale(1);
  }
  
  .gradient-text {
    position: absolute;
    left: 25%;
    top: 12%;
    background-image: linear-gradient(to right, #1d1d1d, #474747, #000);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
    font-size: 90px;
    font-weight: bold;
    opacity: 0;
    transform: scale(0.3);
    font-family: 'Ubuntu', cursive;
    align-items: flex-end;
    
    
  }
  
  .intro.in-view .gradient-text {
    opacity: 1;
    transform: scale(1);
  }

  .intro .Thomas img {
    position: absolute;
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: 50% 0%;
    border-radius: 150px;
    left: 15%;
    top: 32%;
    transition: transform 1s ease;
    transform-origin: center;
}

.intro .Thomas img:hover {
    transform: scale(1.2);
}



.intro .Josh img {
    position: absolute;
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: 50% 0%;
    border-radius: 150px;
    left: 65%;
    top: 32%;
    transition: transform 1s ease;
    transform-origin: center;
}

.intro .Josh img:hover {
    transform: scale(1.2);
}
  
.intro .description1 {
    height: 270px;
    width: 600px;
    background-color: rgba(48, 48, 48, 0.785);
    position: absolute;
    top: 50%;
    left: 5%;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; /* Updated this line */
   
  }
  
  .intro .description1 p {
    font-family: 'Caprasimo', cursive;
    font-weight: 2000;
    font-size: 22px;
    padding: 4px;
    padding-left: 25px;
    margin: 0; /* Added this line to remove default margin */
    text-align: left;

  }

  .intro .description1 p:nth-child(1){
    padding: 0;
    margin-top: -15px;
    text-align: center;
    font-size: 36px;
  }

  .intro .description1 p:nth-child(4){

    margin-top: -30px;

}


  .intro .description1 p:nth-child(5){
    font-style: italic;
    font-weight: lighter;
    padding-left: 40px;  
    margin-top: -30px;
    font-family: 'Ubuntu', sans-serif;
}

  .description1 hr {
    width: 90%; /* Adjust the width as desired */
    margin-left: 20px; /* Reset the default margin */
    margin-top: -30px;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  
  .intro .description2 {
    height: 270px;
    width: 600px;
    background-color: rgba(48, 48, 48, 0.785);
    position: absolute;
    top: 50%;
    left: 54%;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; /* Updated this line */
   
  }
  
  .intro .description2 p {
    font-family: 'Caprasimo', cursive;
    font-weight: 2000;
    font-size: 22px;
    padding: 4px;
    padding-left: 25px;
    margin: 0; /* Added this line to remove default margin */
    text-align: left;

  }

  .intro .description2 p:nth-child(1){
    padding: 0;
    margin-top: -15px;
    text-align: center;
    font-size: 36px;
  }

  .intro .description2 p:nth-child(4){

    margin-top: -30px;

}


  .intro .description2 p:nth-child(5){
    font-style: italic;
    font-weight: lighter;
    padding-left: 40px;  
    margin-top: -30px;
    font-family: 'Ubuntu', sans-serif;
}

  .description2 hr {
    width: 90%; /* Adjust the width as desired */
    margin-left: 20px; /* Reset the default margin */
    margin-top: -30px;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  

  .about1{
    position: absolute;
    top: 69%;
    left: 17%;
    font-size: 40px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 900;
  }

  .about2{
    position: absolute;
    top: 94%;
    left: 17%;
    font-size: 40px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 900;
  }

  .paragraph p{ 
    position: absolute;
    top: 73%;
    left: 20%;
    font-size: 32px;
    font-family: 'Patrick Hand', cursive;;
    font-weight: 900;
    text-align: left;
    padding-right: 200px;
  }

  /* TECHNICAL SKILLS SECTION */

  .title{
    width: 100%;
    padding-top: 100px;
    padding-bottom: -50px;
    margin-bottom: -150px;


  }
  .title h1{
    font-family: 'Ubuntu', sans-serif;
    text-shadow: 0 0 10px black;
    font-size: 70px;
    text-align: center;
    color: white;

  }


  .technical_skills{
    padding: 0;
    margin: 0;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 50px;
    height: 250vh;
    background: linear-gradient(#41889c 0%, #fff1eb);
  }


  .programing_languages:nth-child(1) img{
    width: 150px;
    padding-top: 100px;
  }

  .programing_languages img{
    margin-top: -50px;
    width: 200px;
    padding: 50px;
    padding-top: -20px;
    padding-bottom: 0%;
}

  .programing_languages{
    margin-top: 200px;    
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
    display: inline-block;
  }

  .programing_languages p{
    color: #000;
    font-size: 26px;
    font-family: 'Patrick Hand', cursive;;
    letter-spacing: 1px;
    font-weight: 900;
    padding: 0;
    margin: 0;
  }

  .show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
  .programing_languages:nth-child(3),.programing_languages:nth-child(7), .programing_languages:nth-child(11) {
    padding-top: 30px;
    transition-delay: 200ms;
  }
  .programing_languages:nth-child(3) p{
    padding-top: 30px;

  }

  .programing_languages:nth-child(4), .programing_languages:nth-child(8), .programing_languages:nth-child(12){
    transition-delay: 400ms;
  }
  .programing_languages:nth-child(5), .programing_languages:nth-child(9), .programing_languages:nth-child(13){
    transition-delay: 600ms;
  }

  .programing_languages:nth-child(5){
    padding-top: 40px;
  }
  .programing_languages:nth-child(7) p{
    padding-top: 75px;

  }
  .programing_languages:nth-child(11) p{
    padding-top: 20px;
  }
  .programing_languages:nth-child(12) p{
    padding-top: 50px;
  }
  .programing_languages:nth-child(12) img{
    padding-top: 100px;
  }

/* Projects SECTION */
.projects{
  padding: 0;
  margin: 0;
  position: relative;
  height: 250vh;
  background: linear-gradient(#fff1eb 0%, #41889c);

}

.projects title h1{
  font-family: 'Ubuntu', sans-serif;
  text-shadow: 0 0 10px black;
  font-size: 70px;
  text-align: center;
  color: white;
}



/* Experience SECTION */

.experience{
  padding: 0;
  margin: 0;
  position: relative;
  height: 250vh;
  background: linear-gradient(#41889c 0%, #fff1eb);
}  

.experience .t{
  width: 100%;
  padding-top: 100px;
  padding-bottom: -50px;
  margin-bottom: -150px;


}
.experience .t h1{
  font-family: 'Ubuntu', sans-serif;
  text-shadow: 0 0 10px black;
  font-size: 70px;
  text-align: center;
  color: white;

}

.section {
  opacity: 0;
  display: flex;
  
  position: relative;
  overflow: hidden; 
  margin-top: 250px;
  padding: 40px;
  filter: blur(5px);
  transform: translateY(100%);
  transition: all 1s;

}

.show2{
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);

}

.image-container {
  position: relative;
  z-index: 1;
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}


.image-container img {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: transform 1.75s ease;
  transform-origin: 50% 40%;
}

.image-container:hover img{
  transform: scale(4);
  transform-origin: 50% 40%;
}


.text-container {
  position: relative;
  z-index: 1;
  flex: 3;
  background-color: #4a4949db;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
}

.text-container h2 {
  font-size: 36px;
  font-weight: bold;
  color: white;

}

.text-container p {
  
  font-size: 24px;
  padding: 10px;
}

/* Relavant Experience SECTION */
.relevant_expereince{
  padding: 0;
  margin: 0;
  position: relative;
  height: 250vh;
  background: linear-gradient(#fff1eb 0%, #41889c);

}

.relevant_expereince title h1{
  font-family: 'Ubuntu', sans-serif;
  text-shadow: 0 0 10px black;
  font-size: 70px;
  text-align: center;
  color: white;
}


/* Contact Us SECTION */
.contact{
  padding: 0;
  margin: 0;
  position: relative;
  height: 250vh;
  background: linear-gradient(#41889c 0%, #fff1eb);

}

.contact title h1{
  font-family: 'Ubuntu', sans-serif;
  text-shadow: 0 0 10px black;
  font-size: 70px;
  text-align: center;
  color: white;
}






