html,
body {
    font-family: 'Caprasimo', cursive;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.welcome{
    position: relative;
    width: 100%;
}

#background {
    
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
}

h1 {
    color: white;
    font-size: 36px;
    font-weight: bold;
}

p {
    color: white;
    font-size: 18px;
}


/* KTP SECTION*/
.section {
    background-color: #9e69c049;
    display: flex;
    padding: 40px;
    position: relative;
    overflow: hidden; 
}
#background2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.image-container {
    position: relative;
    z-index: 1;
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.image-container img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: transform 1.75s ease;
    transform-origin: 50% 40%;
}

.image-container:hover img{
    transform: scale(4.5);
    transform-origin: 50% 40%;
}


.text-container {
    position: relative;
    z-index: 1;
    flex: 3;
    background-color: #4a4949db;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}

.text-container h2 {
    font-size: 36px;
    font-weight: bold;
    color: white;

}

.text-container p {
    
    font-size: 24px;
    padding: 10px;
}

.learn-more-button {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;

    border-radius: 28px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.486);
    color: white;
    padding: 16px 32px; /* Increase the padding values */
    font-size: 18px; /* Increase the font size */
    width: auto; /* Adjust the width if needed */
    /* transition: border-width 0.3s ease; */
}

.learn-more-button:hover {
    background-color: #b8d1d04b;
    border: 1px solid white;
    transition: border-width 0.2s ease;

   
}
#parachute-section {
    position: relative;
    width: 100%;
    height: 310vh;
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    overflow: hidden;
    /* Add other styles for the section */
  }
  
  .parachute-animation {
    width: 100%;
    position: absolute;
    top: -30%; /* Adjust the value to position the image off-screen */
    left: 50%;
    transform: translateX(-50%);
  }
  
  .parachute-animation img {
    width: 25%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
  }
  
  @keyframes parallax {
    0% {
      transform: translate(-50%, -200%); /* Adjust the value to position the image off-screen */
    }
    100% {
      transform: translate(-50%, 100%);
    }
  }

  
  .rocket-animation {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateX(-50%);
    animation: rocketLaunch 5s linear forwards;
    visibility: hidden;
  }
  
  .rocket-animation img {
    width: 25%;
  }
  
  @keyframes rocketLaunch {
    0% {
      transform: translate(-50%, 100%);
      visibility: visible;
    }
    100% {
      transform: translate(-50%, -100%);
      visibility: hidden;
    }
  }
  .intro {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .gradient-text {
    background-image: linear-gradient(to right, #ff0000, #0000ff);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
    font-size: 100px;
    font-weight: bold;
    opacity: 0;
    transform: scale(0.5);
  }
  
  .intro.in-view .gradient-text {
    opacity: 1;
    transform: scale(1);
  }
  