html,
body {
    font-family: 'Caprasimo', cursive;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.welcome{
    position: relative;
    width: 100%;
}

#background {
    
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
}

h1 {
    color: white;
    font-size: 36px;
    font-weight: bold;
}

p {
    color: white;
    font-size: 18px;
}



.section {
    background-color: #9e69c049;
    display: flex;
    padding: 40px;
    position: relative;
    overflow: hidden; 
}
#background2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 53vh;
    z-index: -1;
}

.image-container {
    position: relative;
    z-index: 1;
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.image-container img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
}

.image-container:hover img{
    transform: scale(1.2);
}

.text-container {
    position: relative;
    z-index: 1;
    flex: 3;
    background-color: #4a4949db;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}

.text-container h2 {
    font-size: 36px;
    font-weight: bold;
    color: white;

}

.text-container p {
    
    font-size: 24px;
    padding: 10px;
}

.learn-more-button {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;

    border-radius: 28px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.486);
    color: white;
    padding: 16px 32px; /* Increase the padding values */
    font-size: 18px; /* Increase the font size */
    width: auto; /* Adjust the width if needed */
    /* transition: border-width 0.3s ease; */
}

.learn-more-button:hover {
    background-color: #b8d1d04b;
    border: 1px solid white;
    transition: border-width 0.2s ease;

   
}